.ListItem {
    align-items: center;
    color: $font__base-color;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 14px 10px 12px;
    text-decoration: none;

    &__con {
        display: flex;
        flex-direction: column;
        margin-left: 16px;

        &:first-child {
            margin-left: 0;
        }
    }

    &__title {
        @include font-size(16px);
        font-weight: 600;
        text-transform: capitalize;
    }

    &__subtitle {
        @include font-size(12px);
        color: #999;
        margin-top: 3px;
    }

    &:hover {
        background: #eee;
        color: $primary-color;
    }
}
