.SubNavigation {
    display: flex;
    flex-direction: row;
    width: 100%;

    a {
        align-items: center;
        background: rgba($primary-color, 0.05);
        border: rgba(desaturate($primary-color, 20%), 0.3) solid 1px;
        color: darken($primary-color, 20%);
        display: flex;
        height: 32px;
        justify-content: center;
        margin-left: 8px;
        padding: 0 20px;
        text-decoration: none;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            background: #fff;
        }

        &.active {
            background: darken($primary-color, 20%);
            color: #fff;
        }
    }
}
