/* Highlight Styles */
::-moz-selection {background: $highlight-selection;color: $highlight-font-color;text-shadow: none;}
::selection {background: $highlight-selection;color: $highlight-font-color;text-shadow: none;}
